@model Products

<p>These are the details for the @Model.Name Product</p>
<p>Category :@Model.category</p>
<p>Price :@Model.price</p>
<p>ID :@Model.ID  </p>
<p>Description :@Model.Description</p>






